.popup__description {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 358px;
  height: 27px;
  background-color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  align-self: center;
}

@media screen and (max-width: 560px) {
  .popup__description {
    width: 238px;
    margin-bottom: 45px;
  }
}
