.popup__body {
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #FFF;
  text-align: left;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 560px) {
  .popup__body {
    width: 282px;
    height: 332px;
  }
}
