.profile__avatar {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  margin: 0;
}

@media screen and (max-width:950px) {
  .profile__avatar {
    max-width: 90px;
    max-height: 90px;
  }
}

@media screen and (max-width:768px) {
  .profile__avatar {
    max-width: 120px;
    max-height: 120px;
  }
}
